<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aeropuertos</title>
</head>
<body>

        <table style="text-align:left">
            <tr>
                <th>Aeropuerto</th>
                <th>Ciudad</th>
                <th>Pais</th>
            </tr>
            
                {% for nombre, ciudad, pais in aero %}
                <tr>
                    <th>{{nombre}}</th>
                    <th>{{ciudad}}</th>
                    <th>{{pais}}</th>
                </tr>
                {% endfor %}
            
        </table>
            
            
        <tr>
            <th>
                {{dic}}
            </th>
        </tr>

</body>
</html>