<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructiores</title>
</head>
<body>
    <table>
        <tr>
            <td>Nombre</td>
            <td>Email</td>
            <td>Cursos</td>
        </tr>

        {% for i in instructores %}

        <tr>
            <td>{{i.nombre}}</td>
            <td>{{i.email}}</td>
            <td>{{i.cursos_asignados}}</td>
        </tr>

        {% endfor %}
    </table>
</body>
</html>